/* COLORS */

:root {
    --mdc-theme-primary: #40D478;
    --mdc-theme-secondary: #0E8AE7;

    --mdc-theme-background: #FFFFFF;
    --mdc-theme-surface: #FFFFFF;
    --mdc-theme-on-surface: #292A2D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mdc-theme-background: #292A2D;
        --mdc-theme-surface: #292A2D;
        --mdc-theme-on-surface: #FFFFFF;
    }
}


/* GENERAL */

body {
    margin: 16px;
    min-width: 16rem;

    color: var(--mdc-theme-on-surface);
    background-color: var(--mdc-theme-surface);

    user-select: none;
}


/* COMPONENTS */

.mdc-icon-button::before, .mdc-icon-button::after {
    background-color: var(--mdc-theme-on-surface);
}

.mdc-slider__pin {
    width: 32px;
    height: 32px;

    margin-top: -8px;
    margin-left: -5px;
}

.mdc-slider__pin-value-marker-custom {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-family: Roboto, sans-serif;
    font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: .875rem;
    font-size: var(--mdc-typography-body2-font-size, 0.875rem);
    font-weight: 400;
    font-weight: var(--mdc-typography-body2-font-weight, 400);

    line-height: 1.25rem;
    line-height: var(--mdc-typography-body2-line-height, 1.25rem);
    letter-spacing: .0178571429em;
    letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);

    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
    text-decoration: var(--mdc-typography-body2-text-decoration, inherit);

    text-transform: inherit;
    text-transform: var(--mdc-typography-body2-text-transform, inherit);

    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ELEMENTS */

.headline {
    display: flex; 
    flex-direction: row;

    margin-bottom: 12px;
}
.headline-first-x {
    color: var(--mdc-theme-secondary);
}
.headline-second-x {
    color: var(--mdc-theme-primary);
}
.headline-extra {
    margin-left: 4px;

    font-size: 10px;
    color: #919999;
}

.volume-options, .panning-options {
    display: flex; 
    flex-direction: row;
    align-items: center;
}
.volume-options-spacer, .panning-options-spacer {
    width: 8px;
    height: 0;
}
#volume-reset-button, #panning-reset-button {
    font-size: 18px;
    width: 36px;
    height: 36px;
    padding: 9px;
}

#author-link {
    cursor: pointer;
    text-decoration: underline;
}